*{
	padding: 0;
	margin: 0;
}

.bann{
	width: 100%;
	background: #3EA0C0;
}

.banner{
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
}

nav { 
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nader{
	flex-direction: flex-end;
	list-style: none;
	color: white;
}

h1 li a{
	font-family: "playfair";
	color: white;
	text-decoration: none;

}
.cont{
	margin-top: 40px;
	font-family: "Roboto";
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.coniz{
	color: white;
	flex-direction: column;
	display: flex;
	justify-content: center;
}

h2 {
	font-family: "Roboto", sans-serif;
	font-size: 42px;
}

.btn1 {
	color: white;
	width: 36%;
	text-decoration: none;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	align-items: center;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid white;
	border-radius: 30px;
	margin-top: 20px;
}

.btn1:hover{
	color: #4ABDE2;
	background: white;
}
.cam2{
	display: flex;
	flex-direction: column;
	padding-bottom: 150px;
	padding-top: 150px;
	align-items: center;
}

.what{
	font-size: 20px;
	color: gray;
}

.gran{
	font-size: 40px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.wire{
	color: gray;
	font-size: 20px;
	justify-content: flex-end;
}

.cam3{
	background: #E9E7E7;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cu1{
	width: 40%;
	display: flex;
	flex-direction: column;

}

.cu1-1{
	background: white;
	align-items: center;
	display: flex;
	flex-direction: column;
	border-top: 15px #4ABDE2 solid;
	border-left: 15px #4ABDE2 solid;
}

.tt{
	font-size: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.cu2{
	width: 40%;
	display: flex;
	flex-direction: column;
}

h3{
	font-size: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}


.btn2{
	text-decoration: none;
}

