*{
	padding: 0;
	margin: 0;
}

p {
	color: gray;
}

.login {
	display: flex;
	justify-content: flex-end;
}

.nav {
	padding-bottom: 20px;
	padding-top: 20px;
}

.log {
	color: gray;
}

.bor {
	border-top: gray 1px solid;
	border-bottom: gray 1px solid;
}

.na-pron li {  
	display: inline-flex;
	padding-top: 10px;
	padding-bottom: 10px;
}

.pro {
	color: gray;
	padding-left: 10px;
	font-size: 18px;
}

.pro:hover {
	color: black;
}


.cont-2{
	padding-bottom: 70px;
	padding-top: 70px;
	border-bottom: gray 1px solid;
}

.info { 
	padding-top: 5px;
	font-size: 18px;
}

.cont-3 {
	padding-bottom: 50px;
	padding-top: 30px;
	border-bottom: gray 1px solid;
}

.con-2-ca-tex{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
	border: gray 1px solid;
}

span{
	font-size: 18px;
	color: gray;
	padding-bottom: 10px;
}

.comen{
	padding-bottom: 20px;
	font-size: 18px;
}

.ca-3{
	padding-bottom: 20px;
}

.cont-4{
	padding-bottom: 30px;
}

.option{
	font-size: 	17px;
	color: gray;
	padding-top: 10px;
}

.te{
	margin-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 70%;
	margin-bottom: 20px;
}

.cont-5{
	background: #F9F9F9;
	padding-top: 51px;
}

.pre{
	padding-top: 10px;
}

.cu{
	width: 100%;
	margin-bottom: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.save{
	padding-bottom: 7px;
	padding-top: 7px;
	padding-right: 50px;
	padding-left: 50px;
	font-size: 19px;
	margin-bottom: 40px;
	border-radius: 100px;
	background: #4ABDE2;
	border: none;
	color: white;
}

